#icon1{
  background: darkslategray;
}

#icon2{
  background: rgb(114, 190, 190);
}

#icon4{
  background: darkslategray;
}

#call{
  background: darkslategray;
}

h2>span{
  color: gold;
}

.call-to-action-learn {
  background: ;
}

.navbar {
  background: darkslategray;
}

.section-heading{
  background: darkslategray;
  
}

.company-name {
  color: gold;
  font-family: 'forte';
  font-size: 30px;
}

a {
  font-family: 'Yu gothic ui';
}

.horizontal-1 {
  background: maroon;
  height: 4px;
}

.horizontal-2 {
  background: gold;
  height: 1px;
}

body {
 background: lightyellow;
}

.c {
  font-size: larger;
}

.search {
  background: gold;
}

input {
  outline: none;
}

l